.about {
  width: 100%;
  padding: 50px 0;
  margin-top: 100px;

  &_title2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 32px;
    color: #020c31;
    font-family: Unbounded;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }

  &_flex {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 32px 0;
    border-top: 1px solid #ccc;
    align-items: center;
  }
  &_cards {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &_card_icon {
    font-size: 80px;
    color: #1c4cf7;
    margin-bottom: 20px;
  }
  &_card_title {
    max-width: 360px;
    color: #020c31;
    font-family: Unbounded;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  &_card_text {
    width: 300px;
    color: #676d83;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (max-width: 1239px) {
  .about {
    &_cards {
      width: 500px;
      border: 2.3px solid #cccccc93;
      padding: 14px;
      border-radius: 15px;
      margin-right: 20px;
      margin-top: 20px;
    }
  }
}

@media (max-width: 1079px) {
  .about {
    margin-top: 50px;

    &_cards {
      width: 100%;
      min-width: 370px;
      border: 2.3px solid #cccccc93;
      padding: 14px;
      border-radius: 15px;
      margin-right: 0;
      margin-top: 20px;
      height: auto;
      min-height: 310px;

      &_text {
        width: 100%;
      }
    }

    .about_flex {
      justify-content: space-evenly;
    }
  }
  .about_card_icon {
    font-size: 60px;
  }
}

@media (max-width: 715px) {
  .about_title2 {
    font-size: 35px;
  }
}

@media (max-width: 520px) {
  .about {
    margin-top: 0;

    &_title2 {
      font-size: 25px;
    }
  }
  .about_card_icon {
    font-size: 50px;
  }
}

@media (max-width: 400px) {
  .animated {
    max-width: 310.5px;
  }

  .about_cards {
    min-width: 280px;
    max-width: 300px;
  }
  .about_card_text {
    width: 280px;
  }

  .about_card_icon {
    font-size: 40px;
  }
}
