.contact {
  width: 100%;

  &__flex {
    width: 100%;
    height: 550px;
    border-radius: 12px;
    background: radial-gradient(
      333.17% 80.94% at 51.32% 69.21%,
      #3da0fc 0%,
      rgba(2, 227, 214, 0.2) 100%
    );
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 0 24px;
  }

  &__left {
    max-width: 456px;
    min-height: 385px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
  }

  &__title {
    color: #242825;
    font-family: Unbounded;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }

  &__form {
    width: 100%;
  }

  &__input {
    display: flex;
    align-items: center;
    outline: none;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: #f2f2f2;
    padding: 0 20px;
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 30px;
    color: #242825;
  }

  &__btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #242825;
    color: #fff;
    font-family: Unbounded;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    margin-top: 50px;
  }

  &__right {
    width: 400px;
    height: 280px;
    display: flex;
    align-items: flex-start;
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 10px;
  }

  &__number {
    padding-left: 25px;
  }

  &__plus {
    position: relative;
  }
}

.plus {
  position: absolute;
  display: flex;
  top: 49%;
  transform: translateY(-50%);
  left: 15px;
}

@media (max-width: 1025px) {
  .contact__right {
    display: none;
  }
}

@media (max-width: 579px) {
  .contact__title {
    font-size: 28px;
    margin-right: -5px;
  }
}

@media (max-width: 420px) {
  .contact__left {
    margin-right: 50px;
  }
  .contact__title {
    font-size: 24px;
  }
}
